<div class="post">
    <div class="header">
        <h1>Post title</h1>
        
        <button routerLink="/" class="btn btn-link">To main</button>
    </div>

    <div class="info">
        <strong>Author</strong>
        <small>22.09.2019</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores neque ad distinctio rerum ullam earum labore repellat minus enim quasi, iusto incidunt veritatis aperiam quam obcaecati quo numquam magnam dicta quod in. Ipsum dolor error facilis voluptates vitae dolorem, autem, doloremque, repellendus ut quam iste ipsa minus inventore sapiente asperiores!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores neque ad distinctio rerum ullam earum labore repellat minus enim quasi, iusto incidunt veritatis aperiam quam obcaecati quo numquam magnam dicta quod in. Ipsum dolor error facilis voluptates vitae dolorem, autem, doloremque, repellendus ut quam iste ipsa minus inventore sapiente asperiores!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores neque ad distinctio rerum ullam earum labore repellat minus enim quasi, iusto incidunt veritatis aperiam quam obcaecati quo numquam magnam dicta quod in. Ipsum dolor error facilis voluptates vitae dolorem, autem, doloremque, repellendus ut quam iste ipsa minus inventore sapiente asperiores!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores neque ad distinctio rerum ullam earum labore repellat minus enim quasi, iusto incidunt veritatis aperiam quam obcaecati quo numquam magnam dicta quod in. Ipsum dolor error facilis voluptates vitae dolorem, autem, doloremque, repellendus ut quam iste ipsa minus inventore sapiente asperiores!</p>
    </div>
</div>